# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NEXT_PUBLIC_GOKEI_API_URL="https://staging.backend.getgokei.com/spot"
NEXT_PUBLIC_GOKEI_WIDGET_URL="https://staging.spot.getgokei.com"
NEXT_PUBLIC_GOKEI_PUBLIC_KEY="PK_EXAMPLE"
